<html lang="en">

<head>
    {{>headlink}}
</head>

<body>

   {{>navbar}}
    <!-- main headeer -->

    <div class="containter-fluid main_menu">
        <div class="row"></div>
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="img/logo.png" alt="rj" class="img-fluid" title="rjwithsupport">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcom to weather app</p>
                    <h1>I Am A <span class="text_clr"> full stack Developer</span> and Youtuber </h1>
                    <a href="https://www.youtube.com/channel/UCDDm5GqfsJnQG8ikd0-CnVg"><button>GoToMe YT Chanal</button></a>
                </div>
                
            </div>
        </div>
    </div>
    </div>

    <!-- footer code -->
   {{>footer}}
</body>

</html>